*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}
.swiper-slide{
    border-radius: 6px;
}
@media only screen and (max-width: 600px) {
    .swiper_display {
      display: none;
    }
  }