#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bos1{
  padding: 30px;
  border: 1px solid rgb(150, 147, 147);
border-radius: 10px;

}

.bos2{
  display: flex;
}
.bos6{
  display: flex;
}
.boh2{
  font-family: Lato;
  font-style: italic;
  color: rgb(151, 149, 149);
  font-size: 16px;
  text-align: left;
}
.boh1{
  font-family: LatoBold;
  font-size: 20px;
  text-align: left;
  margin-top: 30px;
  font-weight: 600;
}

.bh3{
  font-size: 16px;
  font-family: LatoBold;
  color: #6f7284!important;
  font-weight: 600;
}
.bh2{
  color: #ef4281;
  font-size: 18px;
  font-family: LatoBold;
  font-weight: 600;
  margin-left: 10px;
}
.mh3{
  font-family: Lato;
  font-size: 15px;
  color: rgb(151, 149, 149);
  font-weight: 500;
}
.mh4{
  text-decoration: line-through;
  margin-left: 10px;
  font-family: Lato;
  font-size: 15px;
  color: rgb(151, 149, 149);
  font-weight: 600;
}
.btn1{
  background: #24aeb1;
  width: 100%;
  border-radius: 5px;
  height: 40px;
  font-family: LatoBold!important;
  color: white;
}
.boximg{
height: 200px;
}